/* Style de header adapté pour la page France */

header,
header nav li a,
.btn-transition,
.btn-transition:before,
.btn-transition:after,
.btn-transition span:before,
.btn-transition span:after {
    background-color: #002654;
}


header nav li a:hover {
    color: #002654;
}

.btn-transition:hover {
    color: #002654;
    background-color: #dddddd8c;
}

.btn-contact svg .remplissage {
    stroke: rgba(#002654, 0.7);
    fill: #002654;
}

header nav .sous-menu a {
    border-bottom: 2px solid #002654;
} 

.menu-deroulant > a:hover::after {
    background-image: url('../media/img/blue_arrow.svg');
}


/* Main */

#france-hero {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/bg-paris.jpg);
    color: #ddd;
    cursor: default;
}

#france-hero .centrage {
    width: 60%;
}

#france-hero h1 {
    font-size: 65px;
    padding-bottom: 60px;
    text-align: center;
}

#france-hero p {
    font-size: 25px;
    text-align: justify;
    line-height: 1.5em;
}