* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
}


/* ------------ HEADER -------------- */


header {
    height: 90px;
    width: 100%;
    background-color: #E75454;
    display: flex;
}

/* Pour centrer l'icône et la nav */
header .centrage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
}

/* Liste contenant les liens de la nav */
header nav > ul {
    display: flex;
    text-align: center;
    align-items: flex-end;
}

/* Ajustement de la hauteur des li pour ajuster celles des liens a */
header nav > ul > li {
    height: 100%;
}

/* Disposition et style des liens principaux */
header nav > ul > li > a {
    height: 100%;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
}


/* Styles et paddings des liens - ajouter text shadow ? */
header nav li a {
    background-color: #E75454;
    color: #ddd;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 22px 16px;
}

header nav li a:hover {
    background-color: #ddd;
    color: #E75454;
}

/* Flèche vers le bas pour les menus déroulants */
.menu-deroulant > a::after {
    background-image: url('../media/img/white_arrow.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    content: "";
    margin-top: 4px;
}

.menu-deroulant > a:hover::after {
    background-image: url('../media/img/red_arrow.svg');
}

/* Dispositions des sous-menus et de leurs contenus */
header nav ul.sous-menu {
    display: flex;
    text-align: center;
    flex-direction: column;
}

header nav .sous-menu a {
    font-weight: 600;
    border-bottom: 2px solid #E75454;
} 

/* Transition pour faire apparaître le menu caché */
.menu-deroulant .sous-menu {
    pointer-events: none;
    transform: translateX(10%);
    opacity: 0;
    transition: all .5s ease-out;
}

.menu-deroulant:hover .sous-menu {
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
}


/* Style liens additionnel */

.btn-transition {
    background: #E75454;
    color: #ddd;
    line-height: 42px;
    /* padding: 0; */
    border: none;
}

 .btn-transition span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-transition:before,
.btn-transition:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #E75454;
}

.btn-transition:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-transition:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-transition:hover{
    color: #E75454;
    background: transparent;
}

.btn-transition:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-transition:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-transition span:before,
.btn-transition span:after {
    position: absolute;
    content: "";
    background: #E75454;
}

.btn-transition span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-transition span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-transition span:hover:before {
    width: 100%;
}

.btn-transition span:hover:after {
    width: 100%;
}

