

.container {
    display: inline-block;
    position: relative;
    
}


.img1 {
    width: 100%;
    height: "250px";
}

.container .text {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}

.container2 {
    background-color: #457B9D;
    width: 600px;
    height: 450px;
    padding: 50px;
    margin: 5Opx;
    margin-left: auto;
    margin-right: auto;   

}

h2 {
    color: white;
    font-family: Georgia;
    font-size: 15px;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

li {
    color: white;
    font-family: Georgia;
    font-size: 15px;
}

ul{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 1s linear infinite both;
	        animation: flip-scale-up-hor 1s linear infinite both;
            color: blue;
            padding: 30px;
            margin: 30px; 
}

@keyframes flip-scale-up-hor{
    from {font-size: 50px}
  to {font-size: 20px;}
}

.container3 {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #FFB703;
    padding: 20px;
    margin: 20px;
    width: 90%;
    height: 400px;
}

.p1 {
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    margin: 30px;
}

.container4 {
    display: flex;
    flex-direction: column;
    background-color: #76C893;
    padding: 20px;
    margin: 20px;
    width: 90%;
    height: 900px;
}

h4,h6 {
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: Apple Chancery,cursive;
    font-style: italic;
}
.img2 {
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.p2 {
    color: blue;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    margin: 30px;
}

h5 {
    color: blue;
    font-size: 35px;
    text-align: center;
    font-family: Apple Chancery,cursive;
    font-style: italic;
}

.container5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 30px;
    margin: 30px;
}

.container6 {
    background-color: #84A98C;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    width: 90%;
    height: 900px;
}

.img3 {
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container7 {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #DDA15E;
    padding: 20px;
    margin: 20px;
    width: 90%;
    height: 600px;
}

/*  footer   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************footer**************************/


footer {
    background-color: #26272b;
    width: 100%;
    color: #737373;
}

.container-footer {
    min-width: 80%;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 35px;
    border-bottom: 1px solid;
}

.box-logo {
    width: 190px;
    height: 130px;
    margin: auto;
}

.about-us {
    width: 325px;
    text-align: center;
}

.box-continent ul, .box-wanderers ul {
    list-style-type: none;
}

.box-continent a , .box-wanderers a{
    text-decoration: none;
    color: #737373;
}

.box-continent , .box-wanderers , .footer-right {
    padding-top: 20px;
}

footer h3 {
    padding-bottom: 12px;
    color: white;
}

footer li {
    padding-bottom: 10px;
}

/* -----------formulaire contact----------*/


footer form{
	display: inline-block;
}

footer form input,
footer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 255px;
	padding: 18px;
}

footer ::-webkit-input-placeholder {
	color:  #5c666b;
}

footer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

footer :-ms-input-placeholder{
	color:  #5c666b;
}


footer form input{
	height: 55px;
	margin-bottom: 15px;
}

footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

footer form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}


/*----------------mention legal ------------------*/
.not-copyright {
    width: 80%;
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 9px;
}