* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: #E75454;;
    padding: 3% 0%;
   
}
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;    
}
.description{
    width: 33%;
}
.droit{
    text-align: center;
    margin-top: 4%;    
}
.description a{
    display: block;
    text-decoration: none;
    text-decoration: none;
    border: solid 1px black;
    width: 40%;
    margin: 2% auto;
    padding: 1.5%;
    color: white;
    background-color: black;
}
.footer  div p{
    color: white;
}
